doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document

        link(rel="stylesheet", href="./css/style.css")
    body 

        //- Announcement Bar
        include ../components/announcement-bar/announcement-bar.pug

        //- Header
        include ../components/header/header.pug
        
        //- Hero
        include ../components/hero/hero.pug

        //- Media-Banner-expertise
        include ../components/media-banner-expertise/media-banner-expertise.pug

        //- Stats
        include ../components/stats/stats.pug    

        //- Journey
        include ../components/journey/journey.pug

        //- Testimonials
        include ../components/testimonials/testimonials.pug

        //- Team 
        include ../components/team/team.pug

        //- Divided Section-1
        include ../components/divided-section-1/divided-section-1.pug

        //- Divided Section-2
        include ../components/divided-section-2/divided-section-2.pug

        //- Media-Banner
        include ../components/media-banner/media-banner.pug

        //- Footer
        include ../components/footer/footer.pug