doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document

        link(rel="stylesheet", href="./css/style.css")
    body 

        //- Announcement Bar

        //- Header
        include ../components/header/header.pug
        
        //- About-hero
        include ../components/about-hero/about-hero.pug

        //- Info-subtitle
        include ../components/info-subtitle/info-subtitle.pug

        //- Why-us
        include ../components/why-us/why-us.pug

        //- Our-story
        include ../components/our-story/our-story.pug

        //- Values
        include ../components/values/values.pug

        //- Media-Banner-nums
        include ../components/media-banner-nums/media-banner-nums.pug

        //- News
        include ../components/news/news.pug

        //- Media-Banner-membership
        include ../components/media-banner-membership/media-banner-membership.pug

        //- CTA-Banner
        include ../components/cta-banner/cta-banner.pug       

        //- Footer
        include ../components/header/header.pug