section.text-section
    .container.text-section__container
        .text-section__wrapper 
            .text-section__title VisAid’s image library

            .text-section__subtitle Over 5,000 images developed for age appropriate use and cognitive accessibility. The library is consistently updated.

            .text-section__button 
                a.button-primary Start creating
                    <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.13667 12.0016C8.87632 11.747 8.87632 11.3342 9.13667 11.0795L13.9986 6.32425L9.13667 1.56899C8.87632 1.31435 8.87632 0.901499 9.13667 0.64686C9.39702 0.392222 9.81913 0.392222 10.0795 0.64686L15.8843 6.32425L10.0795 12.0016C9.81913 12.2563 9.39702 12.2563 9.13667 12.0016Z" fill="white"  />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.275391 6.32392C0.275391 5.9638 0.573869 5.67187 0.942061 5.67187L14.2755 5.67187C14.6437 5.67187 14.9421 5.9638 14.9421 6.32392C14.9421 6.68403 14.6437 6.97596 14.2755 6.97596L0.942061 6.97596C0.573869 6.97596 0.275391 6.68403 0.275391 6.32392Z" fill="white"  />
                    </svg>