.pricing {

    position: relative;
    padding-bottom: 24px;

    &__bg {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0 auto;

        z-index: 10;

        svg {
            display: flex;
            height: 100%;
            width: 100%;
        }
    }

    &__container {
        padding: 0 24px;


        @media (max-width:991px) {
          padding: 0;
        }
    }

    &__wrapper {
      text-align: center;
      padding-top: 58px;
      padding-bottom: 80px;

      @include adaptiveValue(padding-top, 58px, 40px, 1440px, 390px);
      @include adaptiveValue(padding-bottom, 80px, 64px, 1440px, 390px);
      
      overflow: hidden;

      background-color: #EBF3FE;
      border-radius: 15px;

      position: relative;

      @media (max-width:991px) {
        border-radius: 0;
      }
  
      .pricing__divider-secondary {
        margin: auto 30px 21px;
        width: -webkit-fill-available;
        position: relative;
        
        height: 1px;
        background-color: rgba(0, 0, 0, 0.2470588235);

        @include adaptiveValue (margin-left, 30px, 16px, 1440px, 767px);
        @include adaptiveValue (margin-right, 30px, 16px, 1440px, 767px);
        
      }
      .pricing__divider-primary {
        margin: 12px 32px 24px;
        width: -webkit-fill-available;
        position: relative;
        
        height: 1px;
        background-color: rgba(0, 0, 0, 0.2470588235);
        display: flex;

        @include adaptiveValue (margin-left, 30px, 16px, 1440px, 767px);
        @include adaptiveValue (margin-right, 30px, 16px, 1440px, 767px);
      }

      .pricing__title {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 30px;
        text-align: center;
        color: var(--visaid-blue);

        margin-bottom: 16px;
        position: relative;
        z-index: 20;

        @include adaptiveValue(font-size, 30px, 22px, 1440px, 390px);

        &-secondary {
          font-family: var(--second-family);
          font-weight: 400;
          font-size: 16px;
          letter-spacing: 0.01em;
          color: var(--dark-grey);  

          margin: 0 30px 22px;
          @include adaptiveValue (margin-left, 30px, 16px, 1440px, 767px);
          @include adaptiveValue (margin-right, 30px, 16px, 1440px, 767px);
        }
      }
  
      .pricing__subtitle {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 0.01em;
        text-align: center;
        color: var(--dark-grey);

        margin-bottom: 36px;
      }
  
      .pricing__toggle {
        display: flex;
        justify-content: center;
        margin:0 auto 64px;
        position: relative;
        z-index: 20;

        max-width: 600px;
        width: 100%;
        padding: 5px;
        background-color: #fff;
        border-radius: 100px;
  
        .pricing__toggle-btn {
          background: linear-gradient(90deg, #fff, #fff);

          border: none;
          border-radius: 100px;
          padding: 14px 0 ;
          
          cursor: pointer;
         
          width: 100%;

          font-family: var(--second-family);
          font-weight: 400;
          font-size: 16px;
          letter-spacing: 0.01em;
          text-align: center;
          color: var(--dark-grey);

          transition: all 0.3s ease;

          &--active {
            transition: .2s ease;
            background: linear-gradient(319deg, #92c6f6 0%, #1429d4 100%);
            color: #fff;
          }
  
          &:hover {
            opacity: 0.9;
          }
        }
      }
    }

    &__cards {
      @media (max-width:990px) {
        display: flex;;
      }


    }
    
    &__cards-pagination {
      position: absolute;
      z-index: 100;
      bottom: 24px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 100px;
      height: 10px;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;

      .swiper-pagination-bullet {
        display: flex;

        width: 10px;
        height: 10px;
        background-color: #1429D4;
        opacity: .2;
        border-radius: 50%;

        transition: .2s ease;
        &-active {
          transition: .2s ease;
          background-color: #1429D4;
          opacity: 1;
        }
      }
    }

    .swiper-wrapper {
      display: flex;
      justify-content: center;
      gap: 21px;
      @include adaptiveValue (margin-left, 76px, 1px, 1440px, 767px);
      @include adaptiveValue (margin-right, 76px, 1px, 1440px, 767px);

      @include adaptiveValue (gap, 21px, 12px, 1440px, 767px);
          

      position: relative;
        z-index: 20;

      @media (max-width:990px) {
        gap: 0;
      }
  
      .pricing__card {
        background: #fff;
        border-radius: 15px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
        
        text-align: center;
        flex: 1;

        height: 570px;
        max-width: 400px;


        
        transition: transform 0.3s;

        cursor: pointer;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @media (max-width:1380px) {
          max-width: 100%;
        }
        @media (max-width:990px) {
          max-width: 100% !important;
          width: 90vw !important;
          flex: unset;
        }
  
        &:hover {
          transform: translateY(-5px);
        }
  
        &--free {
          background: var(--white);
        }
  
        &--essentials {
          background: var(--white);
        }
  
        &--super {
          background: var(--white);
        }

        &.active {
            transition: .2s ease;
            transform: translateY(-5px);
            border: 1px solid var(--visaid-blue);
            border: 1px solid var(--visaid-blue);

            .pricing__badge {
                transition: .2s ease;
                background: var(--visaid-blue);
                color: var(--white);
            }

            .pricing__select {
              transition: .2s ease;
              background: linear-gradient(319deg, #92c6f6 0%, #1429d4 100%);
              color: #fff;
            }
        }
  
        .pricing__badge {
          margin: 30px 30px 22px;

          @include adaptiveValue (margin-left, 30px, 16px, 1440px, 767px);
          @include adaptiveValue (margin-right, 30px, 16px, 1440px, 767px);

          display: inline-block;

          font-family: var(--font-family);
     
          font-size: 20px;
          letter-spacing: 0.01em;
          text-align: center;
          color: var(--visaid-blue);
          font-weight: 400;

          padding: 8px 22px;
          background: var(--visaid-blue---100-tint);
          border-radius: 8px;
          margin-bottom: 1rem;

          transition: .2s ease;
        }
  
        .pricing__price {
          
          @include adaptiveValue (padding-left, 30px, 16px, 1440px, 767px);
          @include adaptiveValue (padding-right, 30px, 16px, 1440px, 767px);

            font-family: var(--font-family);
            font-weight: 400;
            font-size: 50px;
            text-align: center;
            color: var(--visaid-blue);

            display: flex;
            gap: 16px;
            position: relative;

            width: 100%;

            

            // border-bottom: .2px solid #0000003f;
           

                span {
                    font-family: var(--second-family);
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 12%;
                    letter-spacing: 0.01em;
                    color: var(--visaid-blue);    

                    display: flex;
                    line-height: normal;

                    text-align: left;

                    max-width: 50px;
                }
        }

        .pricing__includes {

          @include adaptiveValue (padding-left, 30px, 16px, 1440px, 767px);
          @include adaptiveValue (padding-right, 30px, 16px, 1440px, 767px);
            font-family: var(--second-family);
            font-weight: 600;
            font-size: 16px;
            letter-spacing: 0.01em;
            color: var(--dark-grey);       
            
            margin-bottom: 16px;
        }
  

  
        .pricing__features {
          
          list-style: none;
          @include adaptiveValue (padding-left, 30px, 16px, 1440px, 767px);
          @include adaptiveValue (padding-right, 30px, 16px, 1440px, 767px);

          display: flex;
          flex-direction: column;
          align-items: flex-start;

          width: 100%;

          
  
          .pricing__feature {
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 16px;
            letter-spacing: 0.01em;
            color: var(--dark-grey);
            margin-bottom: 14px;
            text-align: left;
            display: flex;
  
            &:before {
              content: url('data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%229%22%20viewBox%3D%220%200%2012%209%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M11.2134%200.00664632C11.0591%200.0293869%2010.9169%200.104943%2010.8098%200.220972C8.48555%202.61008%206.3681%204.96996%204.09356%207.33178L1.12461%204.90001V4.89988C0.981219%204.78227%200.79814%204.72786%200.615755%204.74865C0.433264%204.76943%200.266397%204.86369%200.151602%205.01077C0.0369354%205.15785%20-0.0161075%205.34552%200.00427604%205.53272C0.0245394%205.7199%200.116441%205.89106%200.259833%206.00868L3.71894%208.84712C3.85279%208.95556%204.02098%209.0096%204.19121%208.9986C4.36142%208.98771%204.52174%208.91265%204.64141%208.78794C7.11533%206.2449%209.34459%203.73285%2011.79%201.21892C11.9304%201.07905%2012.0066%200.884897%2011.9996%200.684271C11.9925%200.483645%2011.9031%200.295476%2011.7533%200.166368C11.6035%200.0372594%2011.4074%20-0.0208155%2011.2136%200.00669312L11.2134%200.00664632Z%22%20fill%3D%22%231429D4%22%20style%3D%22mix-blend-mode%3Amultiply%22%20%2F%3E%3C%2Fsvg%3E');
              margin-right: 14px;
              color: #6a95ff;
            }
            
          }
        }
  
        .pricing__select {
          

          border: none;
          padding: 28px 0;
          
          cursor: pointer;
          font-size: 1rem;
          transition: background 0.3s;

          

          width: 100%;

          display: flex;
          justify-content: center;
          align-items: center;
          background: var(--visaid-blue---100-tint);
          

          font-family: var(--second-family);
          font-weight: 400;
          font-size: 16px;
          letter-spacing: 0.01em;
          text-align: center;
          color: var(--black);

          border-radius: 0 0 13.5px 13.5px;
  
          &:hover {
            transition: .2s ease;
            background: linear-gradient(319deg, #92c6f6 0%, #1429d4 100%);
            color: var(--white);
          }
        }
      }
    }
}
