section.pricing
    
    .container.pricing__container
        .pricing__bg 

        .pricing__wrapper
            h2.pricing__title Pricing
            p.pricing__subtitle Try it for free, access more features as you need. Cancel anytime.
            .pricing__toggle
                button.pricing__toggle-btn.pricing__toggle-btn--active(data-period="monthly") Monthly
                button.pricing__toggle-btn(data-period="annually") Annually (save 10%)
            .pricing__cards
                .pricing__card.pricing__card--free
                    span.pricing__badge Free
                    h3.pricing__price AU$0
                        span.pricing__period per month
                    .pricing__includes Includes:
                    ul.pricing__features
                        li.pricing__feature Create up to 2 stories
                        li.pricing__feature Limited access to image library
                        li.pricing__feature Limited access to template library
                    button.pricing__select Select plan
                .pricing__card.pricing__card--essentials
                    span.pricing__badge Essentials
                    h3.pricing__price AU$15
                        span.pricing__period per month
                    .pricing__includes Includes:
                    ul.pricing__features
                        li.pricing__feature Create unlimited stories
                        li.pricing__feature Unlimited access to image library
                        li.pricing__feature Unlimited access to template library
                    button.pricing__select Select plan
                .pricing__card.pricing__card--super
                    span.pricing__badge Super
                    h3.pricing__price AU$25
                        span.pricing__period per month
                    .pricing__includes Includes:
                    ul.pricing__features
                        li.pricing__feature Create unlimited stories
                        li.pricing__feature Unlimited access to image library
                        li.pricing__feature Unlimited access to template library
                        li.pricing__feature Export to online slideshow
                        li.pricing__feature Upload own images
                    button.pricing__select Select plan
