.cta-banner {

    padding-bottom: 120px;

    @include adaptiveValue(padding-bottom, 120px, 56px, 1440px, 390px);

    &__container {
        max-width: 1000px;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        background: var(--soft-sand);
        border-radius: 10px;

        padding: 38px 50px 52px;

        @include adaptiveValue(padding-bottom, 52px, 42px, 1440px, 390px);
        @include adaptiveValue(padding-right, 50px, 22px, 1440px, 390px);
        @include adaptiveValue(padding-left, 50px, 22px, 1440px, 390px);
        @include adaptiveValue(padding-top, 38px, 31px, 1440px, 390px);
    }
    &__title {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        color: var(--dark-grey);

        margin-bottom: 26px;
    }
    &__input {
        display: flex;
        gap: 8px;
        flex: 1;
        width: 100%;

        @media (max-width:467px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }

    }
    .cta-input {
        display: flex;
        gap: 8px;
        flex: 1;
        width: 100%;

        width: 100%;
        display: flex;
        flex: 1;

        input {
            width: 100%;
        }
    }
    .button-primary {
        border: none;
    }
}