section.cta-banner
    .container.cta-banner__container
        .cta-banner__wrapper 
            .cta-banner__title Sign up to access the free trial

            .cta-banner__input 
                .cta-input
                    input(type="email", placeholder="Enter email address", name="") 

                button.button-primary(type="submit") Sign up