:root {
	--visaid-blue: #1429d4;
	--visaid-blue---500-tint: #8a94e9;
	--visaid-blue---100-tint: #e8eafb;
	--rich-blue: #258dec;
	--rich-blue---500-tint: #92c6f6;
	--white: #fff;
	--alfred-health-red: #d20a14;
	--grey: #aaa;
	--light-grey---100: #f7f7f7;
	--black: #000;
	--alfred-red-500: #e9858a;
	--visaid-blue-250: #8a94ea;
	--dark-grey: #4e4444;
	--soft-blue: #d7e7fc;
	--soft-sand: #faf6ef;
	--faint-green: #f2faf7;
	--purple: #9f4aff;
}


:root {
    --font-family: "Space Grotesk", sans-serif;
    --second-family: "Open Sans", sans-serif;
    --third-family: "Aktiv Grotesk", sans-serif;
    --font3: "Familjen Grotesk", sans-serif;
  }