section.video-section#video-section 



    .container.video-section__container 

        a.scroll-bottom(href="#video-section") 
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="hover-circle" d="M29.5 14.7826C29.5 22.6638 23.015 29.0652 15 29.0652C6.98496 29.0652 0.5 22.6638 0.5 14.7826C0.5 6.9014 6.98496 0.5 15 0.5C23.015 0.5 29.5 6.9014 29.5 14.7826Z" fill="#EC1C24" stroke="#EC1C24" />
            <path d="M14.1153 7.60048L14.1153 20.047L9.82166 16.1078C9.55526 15.8682 9.13217 15.8682 8.88144 16.1228C8.63072 16.3774 8.63072 16.7818 8.89711 17.0215L14.319 21.9941C14.3347 22.0091 14.3504 22.0091 14.366 22.0241C14.3817 22.039 14.3974 22.054 14.4131 22.069C14.4287 22.084 14.4601 22.084 14.4757 22.0989C14.4914 22.1139 14.5071 22.1139 14.5228 22.1289C14.5541 22.1439 14.5698 22.1439 14.6011 22.1439C14.6168 22.1439 14.6324 22.1589 14.6481 22.1589C14.6951 22.1738 14.7265 22.1738 14.7735 22.1738C14.7891 22.1738 14.7891 22.1738 14.8048 22.1738C14.8362 22.1738 14.8675 22.1738 14.9145 22.1589C14.9302 22.1589 14.9459 22.1439 14.9615 22.1439C14.9929 22.1439 15.0085 22.1289 15.0242 22.1289C15.0399 22.1289 15.0555 22.1139 15.0712 22.0989C15.0869 22.084 15.1182 22.084 15.1339 22.069C15.1496 22.054 15.1652 22.039 15.1809 22.0241C15.1966 22.0091 15.2122 22.0091 15.2279 21.9941L20.6655 17.1263C20.8065 17.0065 20.8692 16.8268 20.8692 16.662C20.8692 16.5122 20.8065 16.3475 20.6812 16.2277C20.4305 15.973 20.0074 15.9581 19.741 16.1977L15.4473 20.062L15.4473 7.60048C15.4473 7.25599 15.1496 6.95644 14.7735 6.95644C14.3974 6.95644 14.1153 7.24102 14.1153 7.60048Z" fill="white" />
            </svg>

        .video-section__wrapper 
            .video-section-text 
                .video-section-text__title See how it works
                .video-section-text__subtitle Build social narratives and communication aids
 
            .video-section__video
                iframe#video-frame(src='https://www.youtube.com/embed/VIDEO_ID' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)

            .video-controls
                button(onclick='changeVideo("youtube", "VIDEO_ID")') YouTube
                button(onclick='changeVideo("vimeo", "VIDEO_ID")') Vimeo
