footer.footer 
    
    a.scroll-top(href="#header") 
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
            <g style="mix-blend-mode:darken">
            <ellipse cx="15" cy="14.7828" rx="15" ry="14.7826" transform="rotate(-180 15 14.7828)" fill="white" style="mix-blend-mode:multiply"/>
            </g>
            <path d="M15.8847 21.9649L15.8847 9.51844L20.1783 13.4576C20.4447 13.6972 20.8678 13.6972 21.1186 13.4426C21.3693 13.188 21.3693 12.7836 21.1029 12.5439L15.681 7.57133C15.6653 7.55636 15.6496 7.55636 15.634 7.54138C15.6183 7.5264 15.6026 7.51142 15.5869 7.49645C15.5713 7.48147 15.5399 7.48147 15.5243 7.46649C15.5086 7.45151 15.4929 7.45151 15.4772 7.43653C15.4459 7.42156 15.4302 7.42156 15.3989 7.42156C15.3832 7.42156 15.3676 7.40658 15.3519 7.40658C15.3049 7.3916 15.2735 7.3916 15.2265 7.3916C15.2109 7.3916 15.2109 7.3916 15.1952 7.3916C15.1638 7.3916 15.1325 7.3916 15.0855 7.40658C15.0698 7.40658 15.0541 7.42156 15.0385 7.42156C15.0071 7.42156 14.9915 7.43653 14.9758 7.43653C14.9601 7.43653 14.9445 7.45151 14.9288 7.46649C14.9131 7.48147 14.8818 7.48147 14.8661 7.49645C14.8504 7.51142 14.8348 7.5264 14.8191 7.54138C14.8034 7.55636 14.7878 7.55636 14.7721 7.57133L9.33449 12.4391C9.19345 12.5589 9.13077 12.7387 9.13077 12.9034C9.13077 13.0532 9.19345 13.2179 9.31882 13.3378C9.56954 13.5924 9.99264 13.6074 10.259 13.3677L14.5527 9.50346L14.5527 21.9649C14.5527 22.3094 14.8504 22.609 15.2265 22.609C15.6026 22.609 15.8847 22.3244 15.8847 21.9649Z" fill="#1429D4" style="mix-blend-mode:multiply"/>
        </svg>

    .footer__bg  
        //- <svg xmlns="http://www.w3.org/2000/svg" width="1440" height="1225" viewBox="0 0 1440 1225" fill="none">
        //-     <rect x="1440" y="1225" width="1440" height="1225" transform="rotate(180 1440 1225)" fill="url(#paint0_linear_7880_2797)"/>
        //-     <defs>
        //-     <linearGradient id="paint0_linear_7880_2797" x1="2160" y1="1225" x2="2160" y2="2450" gradientUnits="userSpaceOnUse">
        //-     <stop stop-color="#1629D4"/>
        //-     <stop offset="1" stop-color="#1429D4" stop-opacity="0"/>
        //-     </linearGradient>
        //-     </defs>
        //- </svg>
    .container.footer__container 
        .footer__wrapper 
            .footer__title Your data is is proteced
            .footer__divider
            .footer__subtitle We know the importance of privacy and make securing your data our top priority. So you can create with peace of mind.