section.hero#hero
    .hero__bg 
        <svg width="700" height="1254" viewBox="0 0 700 1254" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g style="mix-blend-mode:multiply" opacity="0.2">
                <path d="M967.274 461.662C1182.72 642.45 961.776 1405.92 631.541 1226.24C356.536 1076.61 650.102 763.325 299.937 788.533C-116.272 879.703 -114.828 669.66 404.205 188.192C923.238 -293.276 751.825 280.873 967.274 461.662Z" fill="url(#paint0_linear_5964_6305)" />
            </g>
            <defs>
                <linearGradient id="paint0_linear_5964_6305" x1="658.253" y1="344.059" x2="457.412" y2="1278.6" gradientUnits="userSpaceOnUse">
                <stop stop-color="#1629D4" stop-opacity="0" />
                <stop offset="1" stop-color="#1629D4" />
                </linearGradient>
            </defs>
        </svg>
    .hero__bg-2 
        <svg width="720" height="815" viewBox="0 0 720 815" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g style="mix-blend-mode:darken" opacity="0.05">
                <path d="M192.717 188.133C630.281 208.264 1004.35 782.442 418.14 812.66C-70.0261 837.824 40.9241 514.442 -393.592 681.721C-856.986 918.92 -1037.24 786.625 -778.271 260.28C-519.304 -266.066 -244.847 168.003 192.717 188.133Z" fill="url(#paint0_linear_7880_2807)" />
            </g>
            <defs>
                <linearGradient id="paint0_linear_7880_2807" x1="975.371" y1="-15.1801" x2="935.237" y2="907.051" gradientUnits="userSpaceOnUse">
                <stop stop-color="#92C6F6" />
                <stop offset="1" stop-color="#1429D4" />
                </linearGradient>
            </defs>
        </svg>
    .hero__bg-mobile-2 
        <svg width="216" height="302" viewBox="0 0 216 302" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g style="mix-blend-mode:darken" opacity="0.05">
                <path d="M20.6274 69.5112C182.463 76.9566 320.814 289.32 104.001 300.496C-76.5497 309.803 -35.5141 190.198 -196.223 252.068C-367.611 339.797 -434.279 290.867 -338.498 96.195C-242.718 -98.4769 -141.208 62.0657 20.6274 69.5112Z" fill="url(#paint0_linear_7880_3048)" />
            </g>
            <defs>
                <linearGradient id="paint0_linear_7880_3048" x1="310.096" y1="-5.68538" x2="295.252" y2="335.407" gradientUnits="userSpaceOnUse">
                <stop stop-color="#92C6F6" />
                <stop offset="1" stop-color="#1429D4" />
                </linearGradient>
            </defs>
        </svg>
    .hero__bg-mobile 
        <svg width="167" height="464" viewBox="0 0 167 464" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g style="mix-blend-mode:multiply" opacity="0.2">
                <path d="M357.795 171.049C437.48 237.914 355.761 520.289 233.622 453.833C131.91 398.491 240.487 282.621 110.976 291.944C-42.9613 325.664 -42.4271 247.978 149.54 69.9046C341.508 -108.169 278.11 104.183 357.795 171.049Z" fill="url(#paint0_linear_7880_3046)" />
            </g>
            <defs>
                <linearGradient id="paint0_linear_7880_3046" x1="243.501" y1="127.553" x2="169.219" y2="473.196" gradientUnits="userSpaceOnUse">
                <stop stop-color="#1629D4" stop-opacity="0" />
                <stop offset="1" stop-color="#1629D4" />
                </linearGradient>
            </defs>
        </svg>

    .container.hero__container 
        .hero__wrapper 
            //- .hero__text.hero__text-primary
            //-     .hero__text-img.hero__text-img-1 
            //-         img(src="./img/girl-and-therapist-888 (1).jpg", alt="")
            //-     .hero__text-img.hero__text-img-2
            //-         img(src="./img/occupational-therapy (2).jpg", alt="")
            //-     .hero__text-img.hero__text-img-3
            //-         img(src="./img/shutterstock_653553973-1024x683-1 (2).jpg", alt="")
            //-     .hero__text-img.hero__text-img-4
            //-         img(src="./img/occupational-therapy (3).jpg", alt="")
            //-     <svg width="1062" height="353" viewBox="0 0 1062 353" fill="none" xmlns="http://www.w3.org/2000/svg">
            //-         <path d="M220.541 152.24C217.715 152.24 215.181 151.76 212.941 150.8C210.701 149.787 208.915 148.347 207.581 146.48C206.301 144.56 205.661 142.24 205.661 139.52C205.661 136.8 206.301 134.533 207.581 132.72C208.915 130.853 210.728 129.467 213.021 128.56C215.368 127.6 218.035 127.12 221.021 127.12H231.901V124.88C231.901 123.013 231.315 121.493 230.141 120.32C228.968 119.093 227.101 118.48 224.541 118.48C222.035 118.48 220.168 119.067 218.941 120.24C217.715 121.36 216.915 122.827 216.541 124.64L207.261 121.52C207.901 119.493 208.915 117.653 210.301 116C211.741 114.293 213.635 112.933 215.981 111.92C218.381 110.853 221.288 110.32 224.701 110.32C229.928 110.32 234.061 111.627 237.101 114.24C240.141 116.853 241.661 120.64 241.661 125.6V140.4C241.661 142 242.408 142.8 243.901 142.8H247.101V151.12H240.381C238.408 151.12 236.781 150.64 235.501 149.68C234.221 148.72 233.581 147.44 233.581 145.84V145.76H232.061C231.848 146.4 231.368 147.253 230.621 148.32C229.875 149.333 228.701 150.24 227.101 151.04C225.501 151.84 223.315 152.24 220.541 152.24ZM222.301 144.08C225.128 144.08 227.421 143.307 229.181 141.76C230.995 140.16 231.901 138.053 231.901 135.44V134.64H221.741C219.875 134.64 218.408 135.04 217.341 135.84C216.275 136.64 215.741 137.76 215.741 139.2C215.741 140.64 216.301 141.813 217.421 142.72C218.541 143.627 220.168 144.08 222.301 144.08Z" fill="url(#paint0_linear_5964_11237)" />
            //-         <path d="M254.471 151.12V111.44H264.391V116.64H265.831C266.471 115.253 267.671 113.947 269.431 112.72C271.191 111.44 273.858 110.8 277.431 110.8C280.525 110.8 283.218 111.52 285.511 112.96C287.858 114.347 289.671 116.293 290.951 118.8C292.231 121.253 292.871 124.133 292.871 127.44V151.12H282.791V128.24C282.791 125.253 282.045 123.013 280.551 121.52C279.111 120.027 277.031 119.28 274.311 119.28C271.218 119.28 268.818 120.32 267.111 122.4C265.405 124.427 264.551 127.28 264.551 130.96V151.12H254.471Z" fill="url(#paint1_linear_5964_11237)" />
            //-         <path d="M319.768 152.24C316.621 152.24 313.661 151.467 310.888 149.92C308.168 148.32 305.981 146 304.328 142.96C302.675 139.92 301.848 136.24 301.848 131.92V130.64C301.848 126.32 302.675 122.64 304.328 119.6C305.981 116.56 308.168 114.267 310.888 112.72C313.608 111.12 316.568 110.32 319.768 110.32C322.168 110.32 324.168 110.613 325.768 111.2C327.421 111.733 328.755 112.427 329.768 113.28C330.781 114.133 331.555 115.04 332.088 116H333.528V95.12H343.608V151.12H333.688V146.32H332.248C331.341 147.813 329.928 149.173 328.008 150.4C326.141 151.627 323.395 152.24 319.768 152.24ZM322.808 143.44C325.901 143.44 328.488 142.453 330.568 140.48C332.648 138.453 333.688 135.52 333.688 131.68V130.88C333.688 127.04 332.648 124.133 330.568 122.16C328.541 120.133 325.955 119.12 322.808 119.12C319.715 119.12 317.128 120.133 315.048 122.16C312.968 124.133 311.928 127.04 311.928 130.88V131.68C311.928 135.52 312.968 138.453 315.048 140.48C317.128 142.453 319.715 143.44 322.808 143.44Z" fill="url(#paint2_linear_5964_11237)" />
            //-         <path d="M393.176 152.24C389.23 152.24 385.736 151.413 382.696 149.76C379.71 148.053 377.363 145.68 375.656 142.64C374.003 139.547 373.176 135.92 373.176 131.76V130.8C373.176 126.64 374.003 123.04 375.656 120C377.31 116.907 379.63 114.533 382.616 112.88C385.603 111.173 389.07 110.32 393.016 110.32C396.91 110.32 400.296 111.2 403.176 112.96C406.056 114.667 408.296 117.067 409.896 120.16C411.496 123.2 412.296 126.747 412.296 130.8V134.24H383.416C383.523 136.96 384.536 139.173 386.456 140.88C388.376 142.587 390.723 143.44 393.496 143.44C396.323 143.44 398.403 142.827 399.736 141.6C401.07 140.373 402.083 139.013 402.776 137.52L411.016 141.84C410.27 143.227 409.176 144.747 407.736 146.4C406.35 148 404.483 149.387 402.136 150.56C399.79 151.68 396.803 152.24 393.176 152.24ZM383.496 126.72H402.056C401.843 124.427 400.91 122.587 399.256 121.2C397.656 119.813 395.55 119.12 392.936 119.12C390.216 119.12 388.056 119.813 386.456 121.2C384.856 122.587 383.87 124.427 383.496 126.72Z" fill="url(#paint3_linear_5964_11237)" />
            //-         <path d="M421.268 151.12V111.44H431.188V115.76H432.628C433.321 114.427 434.468 113.28 436.068 112.32C437.668 111.307 439.775 110.8 442.388 110.8C445.215 110.8 447.481 111.36 449.188 112.48C450.895 113.547 452.201 114.96 453.108 116.72H454.548C455.455 115.013 456.735 113.6 458.388 112.48C460.041 111.36 462.388 110.8 465.428 110.8C467.881 110.8 470.095 111.333 472.068 112.4C474.095 113.413 475.695 114.987 476.868 117.12C478.095 119.2 478.708 121.84 478.708 125.04V151.12H468.628V125.76C468.628 123.573 468.068 121.947 466.948 120.88C465.828 119.76 464.255 119.2 462.228 119.2C459.935 119.2 458.148 119.947 456.868 121.44C455.641 122.88 455.028 124.96 455.028 127.68V151.12H444.948V125.76C444.948 123.573 444.388 121.947 443.268 120.88C442.148 119.76 440.575 119.2 438.548 119.2C436.255 119.2 434.468 119.947 433.188 121.44C431.961 122.88 431.348 124.96 431.348 127.68V151.12H421.268Z" fill="url(#paint4_linear_5964_11237)" />
            //-         <path d="M489.549 167.12V111.44H499.469V116.24H500.909C501.816 114.693 503.229 113.333 505.149 112.16C507.069 110.933 509.816 110.32 513.389 110.32C516.589 110.32 519.549 111.12 522.269 112.72C524.989 114.267 527.176 116.56 528.829 119.6C530.483 122.64 531.309 126.32 531.309 130.64V131.92C531.309 136.24 530.483 139.92 528.829 142.96C527.176 146 524.989 148.32 522.269 149.92C519.549 151.467 516.589 152.24 513.389 152.24C510.989 152.24 508.963 151.947 507.309 151.36C505.709 150.827 504.403 150.133 503.389 149.28C502.429 148.373 501.656 147.467 501.069 146.56H499.629V167.12H489.549ZM510.349 143.44C513.496 143.44 516.083 142.453 518.109 140.48C520.189 138.453 521.229 135.52 521.229 131.68V130.88C521.229 127.04 520.189 124.133 518.109 122.16C516.029 120.133 513.443 119.12 510.349 119.12C507.256 119.12 504.669 120.133 502.589 122.16C500.509 124.133 499.469 127.04 499.469 130.88V131.68C499.469 135.52 500.509 138.453 502.589 140.48C504.669 142.453 507.256 143.44 510.349 143.44Z" fill="url(#paint5_linear_5964_11237)" />
            //-         <path d="M559.445 152.24C555.498 152.24 551.952 151.44 548.805 149.84C545.658 148.24 543.178 145.92 541.365 142.88C539.552 139.84 538.645 136.187 538.645 131.92V130.64C538.645 126.373 539.552 122.72 541.365 119.68C543.178 116.64 545.658 114.32 548.805 112.72C551.952 111.12 555.498 110.32 559.445 110.32C563.392 110.32 566.938 111.12 570.085 112.72C573.232 114.32 575.712 116.64 577.525 119.68C579.338 122.72 580.245 126.373 580.245 130.64V131.92C580.245 136.187 579.338 139.84 577.525 142.88C575.712 145.92 573.232 148.24 570.085 149.84C566.938 151.44 563.392 152.24 559.445 152.24ZM559.445 143.28C562.538 143.28 565.098 142.293 567.125 140.32C569.152 138.293 570.165 135.413 570.165 131.68V130.88C570.165 127.147 569.152 124.293 567.125 122.32C565.152 120.293 562.592 119.28 559.445 119.28C556.352 119.28 553.792 120.293 551.765 122.32C549.738 124.293 548.725 127.147 548.725 130.88V131.68C548.725 135.413 549.738 138.293 551.765 140.32C553.792 142.293 556.352 143.28 559.445 143.28Z" fill="url(#paint6_linear_5964_11237)" />
            //-         <path d="M592.593 151.12L586.993 111.44H596.993L600.513 144.32H601.953L607.073 111.44H623.233L628.353 144.32H629.793L633.313 111.44H643.313L637.713 151.12H620.993L615.873 118.24H614.433L609.313 151.12H592.593Z" fill="url(#paint7_linear_5964_11237)" />
            //-         <path d="M670.051 152.24C666.105 152.24 662.611 151.413 659.571 149.76C656.585 148.053 654.238 145.68 652.531 142.64C650.878 139.547 650.051 135.92 650.051 131.76V130.8C650.051 126.64 650.878 123.04 652.531 120C654.185 116.907 656.505 114.533 659.491 112.88C662.478 111.173 665.945 110.32 669.891 110.32C673.785 110.32 677.171 111.2 680.051 112.96C682.931 114.667 685.171 117.067 686.771 120.16C688.371 123.2 689.171 126.747 689.171 130.8V134.24H660.291C660.398 136.96 661.411 139.173 663.331 140.88C665.251 142.587 667.598 143.44 670.371 143.44C673.198 143.44 675.278 142.827 676.611 141.6C677.945 140.373 678.958 139.013 679.651 137.52L687.891 141.84C687.145 143.227 686.051 144.747 684.611 146.4C683.225 148 681.358 149.387 679.011 150.56C676.665 151.68 673.678 152.24 670.051 152.24ZM660.371 126.72H678.931C678.718 124.427 677.785 122.587 676.131 121.2C674.531 119.813 672.425 119.12 669.811 119.12C667.091 119.12 664.931 119.813 663.331 121.2C661.731 122.587 660.745 124.427 660.371 126.72Z" fill="url(#paint8_linear_5964_11237)" />
            //-         <path d="M698.143 151.12V111.44H708.063V115.92H709.503C710.09 114.32 711.05 113.147 712.383 112.4C713.77 111.653 715.37 111.28 717.183 111.28H721.983V120.24H717.023C714.463 120.24 712.356 120.933 710.703 122.32C709.05 123.653 708.223 125.733 708.223 128.56V151.12H698.143Z" fill="url(#paint9_linear_5964_11237)" />
            //-         <path d="M214.416 250.12V241.32H236.016C237.51 241.32 238.256 240.52 238.256 238.92V228.92H236.816C236.39 229.827 235.723 230.733 234.816 231.64C233.91 232.547 232.683 233.293 231.136 233.88C229.59 234.467 227.616 234.76 225.216 234.76C222.123 234.76 219.403 234.067 217.056 232.68C214.763 231.24 212.976 229.267 211.696 226.76C210.416 224.253 209.776 221.373 209.776 218.12V194.44H219.856V217.32C219.856 220.307 220.576 222.547 222.016 224.04C223.51 225.533 225.616 226.28 228.336 226.28C231.43 226.28 233.83 225.267 235.536 223.24C237.243 221.16 238.096 218.28 238.096 214.6V194.44H248.176V241.16C248.176 243.88 247.376 246.04 245.776 247.64C244.176 249.293 242.043 250.12 239.376 250.12H214.416Z" fill="url(#paint10_linear_5964_11237)" />
            //-         <path d="M278.273 235.24C274.326 235.24 270.78 234.44 267.633 232.84C264.486 231.24 262.006 228.92 260.193 225.88C258.38 222.84 257.473 219.187 257.473 214.92V213.64C257.473 209.373 258.38 205.72 260.193 202.68C262.006 199.64 264.486 197.32 267.633 195.72C270.78 194.12 274.326 193.32 278.273 193.32C282.22 193.32 285.766 194.12 288.913 195.72C292.06 197.32 294.54 199.64 296.353 202.68C298.166 205.72 299.073 209.373 299.073 213.64V214.92C299.073 219.187 298.166 222.84 296.353 225.88C294.54 228.92 292.06 231.24 288.913 232.84C285.766 234.44 282.22 235.24 278.273 235.24ZM278.273 226.28C281.366 226.28 283.926 225.293 285.953 223.32C287.98 221.293 288.993 218.413 288.993 214.68V213.88C288.993 210.147 287.98 207.293 285.953 205.32C283.98 203.293 281.42 202.28 278.273 202.28C275.18 202.28 272.62 203.293 270.593 205.32C268.566 207.293 267.553 210.147 267.553 213.88V214.68C267.553 218.413 268.566 221.293 270.593 223.32C272.62 225.293 275.18 226.28 278.273 226.28Z" fill="url(#paint11_linear_5964_11237)" />
            //-         <path d="M323.497 234.76C320.404 234.76 317.684 234.067 315.337 232.68C313.044 231.24 311.258 229.267 309.978 226.76C308.698 224.253 308.057 221.373 308.057 218.12V194.44H318.138V217.32C318.138 220.307 318.858 222.547 320.298 224.04C321.791 225.533 323.897 226.28 326.617 226.28C329.711 226.28 332.111 225.267 333.818 223.24C335.524 221.16 336.378 218.28 336.378 214.6V194.44H346.457V234.12H336.538V228.92H335.098C334.457 230.253 333.258 231.56 331.497 232.84C329.737 234.12 327.071 234.76 323.497 234.76Z" fill="url(#paint12_linear_5964_11237)" />
            //-         <path d="M357.674 234.12V194.44H367.594V199.64H369.034C369.674 198.253 370.874 196.947 372.634 195.72C374.394 194.44 377.061 193.8 380.634 193.8C383.728 193.8 386.421 194.52 388.714 195.96C391.061 197.347 392.874 199.293 394.154 201.8C395.434 204.253 396.074 207.133 396.074 210.44V234.12H385.994V211.24C385.994 208.253 385.248 206.013 383.754 204.52C382.314 203.027 380.234 202.28 377.514 202.28C374.421 202.28 372.021 203.32 370.314 205.4C368.608 207.427 367.754 210.28 367.754 213.96V234.12H357.674Z" fill="url(#paint13_linear_5964_11237)" />
            //-         <path d="M405.051 214.44V213.16C405.051 209 405.878 205.453 407.531 202.52C409.185 199.533 411.371 197.267 414.091 195.72C416.865 194.12 419.878 193.32 423.131 193.32C426.758 193.32 429.505 193.96 431.371 195.24C433.238 196.52 434.598 197.853 435.451 199.24H436.891V194.44H446.811V241.16C446.811 243.88 446.011 246.04 444.411 247.64C442.811 249.293 440.678 250.12 438.011 250.12H411.451V241.32H434.491C435.985 241.32 436.731 240.52 436.731 238.92V228.6H435.291C434.758 229.453 434.011 230.333 433.051 231.24C432.091 232.093 430.811 232.813 429.211 233.4C427.611 233.987 425.585 234.28 423.131 234.28C419.878 234.28 416.865 233.507 414.091 231.96C411.371 230.36 409.185 228.093 407.531 225.16C405.878 222.173 405.051 218.6 405.051 214.44ZM426.011 225.48C429.105 225.48 431.691 224.493 433.771 222.52C435.851 220.547 436.891 217.773 436.891 214.2V213.4C436.891 209.773 435.851 207 433.771 205.08C431.745 203.107 429.158 202.12 426.011 202.12C422.918 202.12 420.331 203.107 418.251 205.08C416.171 207 415.131 209.773 415.131 213.4V214.2C415.131 217.773 416.171 220.547 418.251 222.52C420.331 224.493 422.918 225.48 426.011 225.48Z" fill="url(#paint14_linear_5964_11237)" />
            //-         <path d="M478.299 250.12V194.44H488.219V199.24H489.659C490.566 197.693 491.979 196.333 493.899 195.16C495.819 193.933 498.566 193.32 502.139 193.32C505.339 193.32 508.299 194.12 511.019 195.72C513.739 197.267 515.926 199.56 517.579 202.6C519.233 205.64 520.059 209.32 520.059 213.64V214.92C520.059 219.24 519.233 222.92 517.579 225.96C515.926 229 513.739 231.32 511.019 232.92C508.299 234.467 505.339 235.24 502.139 235.24C499.739 235.24 497.713 234.947 496.059 234.36C494.459 233.827 493.153 233.133 492.139 232.28C491.179 231.373 490.406 230.467 489.819 229.56H488.379V250.12H478.299ZM499.099 226.44C502.246 226.44 504.833 225.453 506.859 223.48C508.939 221.453 509.979 218.52 509.979 214.68V213.88C509.979 210.04 508.939 207.133 506.859 205.16C504.779 203.133 502.193 202.12 499.099 202.12C496.006 202.12 493.419 203.133 491.339 205.16C489.259 207.133 488.219 210.04 488.219 213.88V214.68C488.219 218.52 489.259 221.453 491.339 223.48C493.419 225.453 496.006 226.44 499.099 226.44Z" fill="url(#paint15_linear_5964_11237)" />
            //-         <path d="M547.395 235.24C543.448 235.24 539.955 234.413 536.915 232.76C533.928 231.053 531.582 228.68 529.875 225.64C528.222 222.547 527.395 218.92 527.395 214.76V213.8C527.395 209.64 528.222 206.04 529.875 203C531.528 199.907 533.848 197.533 536.835 195.88C539.822 194.173 543.288 193.32 547.235 193.32C551.128 193.32 554.515 194.2 557.395 195.96C560.275 197.667 562.515 200.067 564.115 203.16C565.715 206.2 566.515 209.747 566.515 213.8V217.24H537.635C537.742 219.96 538.755 222.173 540.675 223.88C542.595 225.587 544.942 226.44 547.715 226.44C550.542 226.44 552.622 225.827 553.955 224.6C555.288 223.373 556.302 222.013 556.995 220.52L565.235 224.84C564.488 226.227 563.395 227.747 561.955 229.4C560.568 231 558.702 232.387 556.355 233.56C554.008 234.68 551.022 235.24 547.395 235.24ZM537.715 209.72H556.275C556.062 207.427 555.128 205.587 553.475 204.2C551.875 202.813 549.768 202.12 547.155 202.12C544.435 202.12 542.275 202.813 540.675 204.2C539.075 205.587 538.088 207.427 537.715 209.72Z" fill="url(#paint16_linear_5964_11237)" />
            //-         <path d="M594.367 235.24C590.42 235.24 586.874 234.44 583.727 232.84C580.58 231.24 578.1 228.92 576.287 225.88C574.474 222.84 573.567 219.187 573.567 214.92V213.64C573.567 209.373 574.474 205.72 576.287 202.68C578.1 199.64 580.58 197.32 583.727 195.72C586.874 194.12 590.42 193.32 594.367 193.32C598.314 193.32 601.86 194.12 605.007 195.72C608.154 197.32 610.634 199.64 612.447 202.68C614.26 205.72 615.167 209.373 615.167 213.64V214.92C615.167 219.187 614.26 222.84 612.447 225.88C610.634 228.92 608.154 231.24 605.007 232.84C601.86 234.44 598.314 235.24 594.367 235.24ZM594.367 226.28C597.46 226.28 600.02 225.293 602.047 223.32C604.074 221.293 605.087 218.413 605.087 214.68V213.88C605.087 210.147 604.074 207.293 602.047 205.32C600.074 203.293 597.514 202.28 594.367 202.28C591.274 202.28 588.714 203.293 586.687 205.32C584.66 207.293 583.647 210.147 583.647 213.88V214.68C583.647 218.413 584.66 221.293 586.687 223.32C588.714 225.293 591.274 226.28 594.367 226.28Z" fill="url(#paint17_linear_5964_11237)" />
            //-         <path d="M624.471 250.12V194.44H634.391V199.24H635.831C636.738 197.693 638.151 196.333 640.071 195.16C641.991 193.933 644.738 193.32 648.311 193.32C651.511 193.32 654.471 194.12 657.191 195.72C659.911 197.267 662.098 199.56 663.751 202.6C665.405 205.64 666.231 209.32 666.231 213.64V214.92C666.231 219.24 665.405 222.92 663.751 225.96C662.098 229 659.911 231.32 657.191 232.92C654.471 234.467 651.511 235.24 648.311 235.24C645.911 235.24 643.885 234.947 642.231 234.36C640.631 233.827 639.325 233.133 638.311 232.28C637.351 231.373 636.578 230.467 635.991 229.56H634.551V250.12H624.471ZM645.271 226.44C648.418 226.44 651.005 225.453 653.031 223.48C655.111 221.453 656.151 218.52 656.151 214.68V213.88C656.151 210.04 655.111 207.133 653.031 205.16C650.951 203.133 648.365 202.12 645.271 202.12C642.178 202.12 639.591 203.133 637.511 205.16C635.431 207.133 634.391 210.04 634.391 213.88V214.68C634.391 218.52 635.431 221.453 637.511 223.48C639.591 225.453 642.178 226.44 645.271 226.44Z" fill="url(#paint18_linear_5964_11237)" />
            //-         <path d="M675.487 234.12V178.12H685.567V234.12H675.487Z" fill="url(#paint19_linear_5964_11237)" />
            //-         <path d="M714.817 235.24C710.87 235.24 707.377 234.413 704.337 232.76C701.35 231.053 699.004 228.68 697.297 225.64C695.644 222.547 694.817 218.92 694.817 214.76V213.8C694.817 209.64 695.644 206.04 697.297 203C698.95 199.907 701.27 197.533 704.257 195.88C707.244 194.173 710.71 193.32 714.657 193.32C718.55 193.32 721.937 194.2 724.817 195.96C727.697 197.667 729.937 200.067 731.537 203.16C733.137 206.2 733.937 209.747 733.937 213.8V217.24H705.057C705.164 219.96 706.177 222.173 708.097 223.88C710.017 225.587 712.364 226.44 715.137 226.44C717.964 226.44 720.044 225.827 721.377 224.6C722.71 223.373 723.724 222.013 724.417 220.52L732.657 224.84C731.91 226.227 730.817 227.747 729.377 229.4C727.99 231 726.124 232.387 723.777 233.56C721.43 234.68 718.444 235.24 714.817 235.24ZM705.137 209.72H723.697C723.484 207.427 722.55 205.587 720.897 204.2C719.297 202.813 717.19 202.12 714.577 202.12C711.857 202.12 709.697 202.813 708.097 204.2C706.497 205.587 705.51 207.427 705.137 209.72Z" fill="url(#paint20_linear_5964_11237)" />
            //-         <path d="M766.421 234.12L760.821 194.44H770.821L774.341 227.32H775.781L780.901 194.44H797.061L802.181 227.32H803.621L807.141 194.44H817.141L811.541 234.12H794.821L789.701 201.24H788.261L783.141 234.12H766.421Z" fill="url(#paint21_linear_5964_11237)" />
            //-         <path d="M825.956 234.12V194.44H836.036V234.12H825.956ZM830.996 189.8C829.182 189.8 827.636 189.213 826.356 188.04C825.129 186.867 824.516 185.32 824.516 183.4C824.516 181.48 825.129 179.933 826.356 178.76C827.636 177.587 829.182 177 830.996 177C832.862 177 834.409 177.587 835.636 178.76C836.862 179.933 837.476 181.48 837.476 183.4C837.476 185.32 836.862 186.867 835.636 188.04C834.409 189.213 832.862 189.8 830.996 189.8Z" fill="url(#paint22_linear_5964_11237)" />
            //-         <path d="M862.406 234.12C859.792 234.12 857.659 233.32 856.006 231.72C854.406 230.067 853.606 227.88 853.606 225.16V202.76H843.686V194.44H853.606V182.12H863.686V194.44H874.566V202.76H863.686V223.4C863.686 225 864.432 225.8 865.926 225.8H873.606V234.12H862.406Z" fill="url(#paint23_linear_5964_11237)" />
            //-         <path d="M883.69 234.12V178.12H893.77V199.32H895.21C895.637 198.467 896.303 197.613 897.21 196.76C898.117 195.907 899.317 195.213 900.81 194.68C902.357 194.093 904.303 193.8 906.65 193.8C909.743 193.8 912.437 194.52 914.73 195.96C917.077 197.347 918.89 199.293 920.17 201.8C921.45 204.253 922.09 207.133 922.09 210.44V234.12H912.01V211.24C912.01 208.253 911.263 206.013 909.77 204.52C908.33 203.027 906.25 202.28 903.53 202.28C900.437 202.28 898.037 203.32 896.33 205.4C894.623 207.427 893.77 210.28 893.77 213.96V234.12H883.69Z" fill="url(#paint24_linear_5964_11237)" />
            //-         <path d="M77.3219 58.24C70.3885 58.24 64.8952 56.32 60.8419 52.48C56.7885 48.5867 54.7619 43.04 54.7619 35.84V22.4C54.7619 15.2 56.7885 9.68 60.8419 5.84C64.8952 1.94667 70.3885 0 77.3219 0C84.2019 0 89.5086 1.89333 93.2419 5.68C97.0285 9.41334 98.9219 14.56 98.9219 21.12V21.6H88.5219V20.8C88.5219 17.4933 87.5885 14.7733 85.7219 12.64C83.9085 10.5067 81.1085 9.44 77.3219 9.44C73.5885 9.44 70.6552 10.5867 68.5219 12.88C66.3885 15.1733 65.3219 18.2933 65.3219 22.24V36C65.3219 39.8933 66.3885 43.0133 68.5219 45.36C70.6552 47.6533 73.5885 48.8 77.3219 48.8C81.1085 48.8 83.9085 47.7333 85.7219 45.6C87.5885 43.4133 88.5219 40.6933 88.5219 37.44V36H98.9219V37.12C98.9219 43.68 97.0285 48.8533 93.2419 52.64C89.5086 56.3733 84.2019 58.24 77.3219 58.24Z" fill="url(#paint25_linear_5964_11237)" />
            //-         <path d="M126.726 58.24C122.78 58.24 119.233 57.44 116.086 55.84C112.94 54.24 110.46 51.92 108.646 48.88C106.833 45.84 105.926 42.1867 105.926 37.92V36.64C105.926 32.3733 106.833 28.72 108.646 25.68C110.46 22.64 112.94 20.32 116.086 18.72C119.233 17.12 122.78 16.32 126.726 16.32C130.673 16.32 134.22 17.12 137.366 18.72C140.513 20.32 142.993 22.64 144.806 25.68C146.62 28.72 147.526 32.3733 147.526 36.64V37.92C147.526 42.1867 146.62 45.84 144.806 48.88C142.993 51.92 140.513 54.24 137.366 55.84C134.22 57.44 130.673 58.24 126.726 58.24ZM126.726 49.28C129.82 49.28 132.38 48.2933 134.406 46.32C136.433 44.2933 137.446 41.4133 137.446 37.68V36.88C137.446 33.1467 136.433 30.2933 134.406 28.32C132.433 26.2933 129.873 25.28 126.726 25.28C123.633 25.28 121.073 26.2933 119.046 28.32C117.02 30.2933 116.006 33.1467 116.006 36.88V37.68C116.006 41.4133 117.02 44.2933 119.046 46.32C121.073 48.2933 123.633 49.28 126.726 49.28Z" fill="url(#paint26_linear_5964_11237)" />
            //-         <path d="M156.831 57.12V17.44H166.751V22.64H168.191C168.831 21.2533 170.031 19.9467 171.791 18.72C173.551 17.44 176.217 16.8 179.791 16.8C182.884 16.8 185.577 17.52 187.871 18.96C190.217 20.3467 192.031 22.2933 193.311 24.8C194.591 27.2533 195.231 30.1333 195.231 33.44V57.12H185.151V34.24C185.151 31.2533 184.404 29.0133 182.911 27.52C181.471 26.0267 179.391 25.28 176.671 25.28C173.577 25.28 171.177 26.32 169.471 28.4C167.764 30.4267 166.911 33.28 166.911 36.96V57.12H156.831Z" fill="url(#paint27_linear_5964_11237)" />
            //-         <path d="M206.128 57.12V17.44H216.047V22.64H217.487C218.127 21.2533 219.327 19.9467 221.087 18.72C222.847 17.44 225.514 16.8 229.087 16.8C232.181 16.8 234.874 17.52 237.168 18.96C239.514 20.3467 241.328 22.2933 242.608 24.8C243.888 27.2533 244.527 30.1333 244.527 33.44V57.12H234.448V34.24C234.448 31.2533 233.701 29.0133 232.207 27.52C230.767 26.0267 228.688 25.28 225.967 25.28C222.874 25.28 220.474 26.32 218.767 28.4C217.061 30.4267 216.207 33.28 216.207 36.96V57.12H206.128Z" fill="url(#paint28_linear_5964_11237)" />
            //-         <path d="M273.504 58.24C269.558 58.24 266.064 57.4133 263.024 55.76C260.038 54.0533 257.691 51.68 255.984 48.64C254.331 45.5467 253.504 41.92 253.504 37.76V36.8C253.504 32.64 254.331 29.04 255.984 26C257.638 22.9067 259.958 20.5333 262.944 18.88C265.931 17.1733 269.398 16.32 273.344 16.32C277.238 16.32 280.624 17.2 283.504 18.96C286.384 20.6667 288.624 23.0667 290.224 26.16C291.824 29.2 292.624 32.7467 292.624 36.8V40.24H263.744C263.851 42.96 264.864 45.1733 266.784 46.88C268.704 48.5867 271.051 49.44 273.824 49.44C276.651 49.44 278.731 48.8267 280.064 47.6C281.398 46.3733 282.411 45.0133 283.104 43.52L291.344 47.84C290.598 49.2267 289.504 50.7467 288.064 52.4C286.678 54 284.811 55.3867 282.464 56.56C280.118 57.68 277.131 58.24 273.504 58.24ZM263.824 32.72H282.384C282.171 30.4267 281.238 28.5867 279.584 27.2C277.984 25.8133 275.878 25.12 273.264 25.12C270.544 25.12 268.384 25.8133 266.784 27.2C265.184 28.5867 264.198 30.4267 263.824 32.72Z" fill="url(#paint29_linear_5964_11237)" />
            //-         <path d="M320.236 58.24C316.396 58.24 312.903 57.44 309.756 55.84C306.663 54.24 304.21 51.92 302.396 48.88C300.583 45.84 299.676 42.16 299.676 37.84V36.72C299.676 32.4 300.583 28.72 302.396 25.68C304.21 22.64 306.663 20.32 309.756 18.72C312.903 17.12 316.396 16.32 320.236 16.32C324.023 16.32 327.276 16.9867 329.996 18.32C332.716 19.6533 334.903 21.4933 336.556 23.84C338.263 26.1333 339.383 28.7467 339.916 31.68L330.156 33.76C329.943 32.16 329.463 30.72 328.716 29.44C327.97 28.16 326.903 27.1467 325.516 26.4C324.183 25.6533 322.503 25.28 320.476 25.28C318.45 25.28 316.61 25.7333 314.956 26.64C313.356 27.4933 312.076 28.8 311.116 30.56C310.21 32.2667 309.756 34.3733 309.756 36.88V37.68C309.756 40.1867 310.21 42.32 311.116 44.08C312.076 45.7867 313.356 47.0933 314.956 48C316.61 48.8533 318.45 49.28 320.476 49.28C323.516 49.28 325.81 48.5067 327.356 46.96C328.956 45.36 329.97 43.28 330.396 40.72L340.156 43.04C339.463 45.8667 338.263 48.4533 336.556 50.8C334.903 53.0933 332.716 54.9067 329.996 56.24C327.276 57.5733 324.023 58.24 320.236 58.24Z" fill="url(#paint30_linear_5964_11237)" />
            //-         <path d="M362.343 57.12C359.73 57.12 357.596 56.32 355.943 54.72C354.343 53.0667 353.543 50.88 353.543 48.16V25.76H343.623V17.44H353.543V5.12H363.623V17.44H374.503V25.76H363.623V46.4C363.623 48 364.37 48.8 365.863 48.8H373.543V57.12H362.343Z" fill="url(#paint31_linear_5964_11237)" />
            //-         <path d="M384.348 68.88V63.44H387.467C389.921 63.44 391.147 62.2133 391.147 59.76V57.2H389.788C387.654 57.2 385.867 56.56 384.427 55.28C383.041 54 382.348 52.3733 382.348 50.4C382.348 48.2667 383.041 46.5333 384.427 45.2C385.867 43.8667 387.654 43.2 389.788 43.2C391.974 43.2 393.761 43.8933 395.147 45.28C396.534 46.6133 397.228 48.4267 397.228 50.72V59.92C397.228 65.8933 394.241 68.88 388.267 68.88H384.348Z" fill="url(#paint32_linear_5964_11237)" />
            //-         <path d="M1.44 336.12V296.44H11.52V336.12H1.44ZM6.48 291.8C4.66667 291.8 3.12 291.213 1.84 290.04C0.613333 288.867 0 287.32 0 285.4C0 283.48 0.613333 281.933 1.84 280.76C3.12 279.587 4.66667 279 6.48 279C8.34667 279 9.89333 279.587 11.12 280.76C12.3467 281.933 12.96 283.48 12.96 285.4C12.96 287.32 12.3467 288.867 11.12 290.04C9.89333 291.213 8.34667 291.8 6.48 291.8Z" fill="url(#paint33_linear_5964_11237)" />
            //-         <path d="M22.69 336.12V296.44H32.61V301.64H34.05C34.69 300.253 35.89 298.947 37.65 297.72C39.41 296.44 42.0767 295.8 45.65 295.8C48.7433 295.8 51.4367 296.52 53.73 297.96C56.0767 299.347 57.89 301.293 59.17 303.8C60.45 306.253 61.09 309.133 61.09 312.44V336.12H51.01V313.24C51.01 310.253 50.2633 308.013 48.77 306.52C47.33 305.027 45.25 304.28 42.53 304.28C39.4367 304.28 37.0367 305.32 35.33 307.4C33.6233 309.427 32.77 312.28 32.77 315.96V336.12H22.69Z" fill="url(#paint34_linear_5964_11237)" />
            //-         <path d="M86.0931 336.12C83.4798 336.12 81.3465 335.32 79.6931 333.72C78.0931 332.067 77.2931 329.88 77.2931 327.16V304.76H67.3731V296.44H77.2931V284.12H87.3731V296.44H98.2531V304.76H87.3731V325.4C87.3731 327 88.1198 327.8 89.6131 327.8H97.2931V336.12H86.0931Z" fill="url(#paint35_linear_5964_11237)" />
            //-         <path d="M124.051 337.24C120.105 337.24 116.611 336.413 113.571 334.76C110.585 333.053 108.238 330.68 106.531 327.64C104.878 324.547 104.051 320.92 104.051 316.76V315.8C104.051 311.64 104.878 308.04 106.531 305C108.185 301.907 110.505 299.533 113.491 297.88C116.478 296.173 119.945 295.32 123.891 295.32C127.785 295.32 131.171 296.2 134.051 297.96C136.931 299.667 139.171 302.067 140.771 305.16C142.371 308.2 143.171 311.747 143.171 315.8V319.24H114.291C114.398 321.96 115.411 324.173 117.331 325.88C119.251 327.587 121.598 328.44 124.371 328.44C127.198 328.44 129.278 327.827 130.611 326.6C131.945 325.373 132.958 324.013 133.651 322.52L141.891 326.84C141.145 328.227 140.051 329.747 138.611 331.4C137.225 333 135.358 334.387 133.011 335.56C130.665 336.68 127.678 337.24 124.051 337.24ZM114.371 311.72H132.931C132.718 309.427 131.785 307.587 130.131 306.2C128.531 304.813 126.425 304.12 123.811 304.12C121.091 304.12 118.931 304.813 117.331 306.2C115.731 307.587 114.745 309.427 114.371 311.72Z" fill="url(#paint36_linear_5964_11237)" />
            //-         <path d="M152.143 336.12V280.12H162.223V336.12H152.143Z" fill="url(#paint37_linear_5964_11237)" />
            //-         <path d="M173.393 336.12V280.12H183.473V336.12H173.393Z" fill="url(#paint38_linear_5964_11237)" />
            //-         <path d="M212.723 337.24C208.776 337.24 205.283 336.413 202.243 334.76C199.256 333.053 196.91 330.68 195.203 327.64C193.55 324.547 192.723 320.92 192.723 316.76V315.8C192.723 311.64 193.55 308.04 195.203 305C196.856 301.907 199.176 299.533 202.163 297.88C205.15 296.173 208.616 295.32 212.563 295.32C216.456 295.32 219.843 296.2 222.723 297.96C225.603 299.667 227.843 302.067 229.443 305.16C231.043 308.2 231.843 311.747 231.843 315.8V319.24H202.963C203.07 321.96 204.083 324.173 206.003 325.88C207.923 327.587 210.27 328.44 213.043 328.44C215.87 328.44 217.95 327.827 219.283 326.6C220.616 325.373 221.63 324.013 222.323 322.52L230.563 326.84C229.816 328.227 228.723 329.747 227.283 331.4C225.896 333 224.03 334.387 221.683 335.56C219.336 336.68 216.35 337.24 212.723 337.24ZM203.043 311.72H221.603C221.39 309.427 220.456 307.587 218.803 306.2C217.203 304.813 215.096 304.12 212.483 304.12C209.763 304.12 207.603 304.813 206.003 306.2C204.403 307.587 203.416 309.427 203.043 311.72Z" fill="url(#paint39_linear_5964_11237)" />
            //-         <path d="M259.455 337.24C255.615 337.24 252.122 336.44 248.975 334.84C245.882 333.24 243.428 330.92 241.615 327.88C239.802 324.84 238.895 321.16 238.895 316.84V315.72C238.895 311.4 239.802 307.72 241.615 304.68C243.428 301.64 245.882 299.32 248.975 297.72C252.122 296.12 255.615 295.32 259.455 295.32C263.242 295.32 266.495 295.987 269.215 297.32C271.935 298.653 274.122 300.493 275.775 302.84C277.482 305.133 278.602 307.747 279.135 310.68L269.375 312.76C269.162 311.16 268.682 309.72 267.935 308.44C267.188 307.16 266.122 306.147 264.735 305.4C263.402 304.653 261.722 304.28 259.695 304.28C257.668 304.28 255.828 304.733 254.175 305.64C252.575 306.493 251.295 307.8 250.335 309.56C249.428 311.267 248.975 313.373 248.975 315.88V316.68C248.975 319.187 249.428 321.32 250.335 323.08C251.295 324.787 252.575 326.093 254.175 327C255.828 327.853 257.668 328.28 259.695 328.28C262.735 328.28 265.028 327.507 266.575 325.96C268.175 324.36 269.188 322.28 269.615 319.72L279.375 322.04C278.682 324.867 277.482 327.453 275.775 329.8C274.122 332.093 271.935 333.907 269.215 335.24C266.495 336.573 263.242 337.24 259.455 337.24Z" fill="url(#paint40_linear_5964_11237)" />
            //-         <path d="M301.562 336.12C298.949 336.12 296.815 335.32 295.162 333.72C293.562 332.067 292.762 329.88 292.762 327.16V304.76H282.842V296.44H292.762V284.12H302.842V296.44H313.722V304.76H302.842V325.4C302.842 327 303.589 327.8 305.082 327.8H312.762V336.12H301.562Z" fill="url(#paint41_linear_5964_11237)" />
            //-         <path d="M337.966 336.76C334.873 336.76 332.153 336.067 329.806 334.68C327.513 333.24 325.726 331.267 324.446 328.76C323.166 326.253 322.526 323.373 322.526 320.12V296.44H332.606V319.32C332.606 322.307 333.326 324.547 334.766 326.04C336.26 327.533 338.366 328.28 341.086 328.28C344.18 328.28 346.58 327.267 348.286 325.24C349.993 323.16 350.846 320.28 350.846 316.6V296.44H360.926V336.12H351.006V330.92H349.566C348.926 332.253 347.726 333.56 345.966 334.84C344.206 336.12 341.54 336.76 337.966 336.76Z" fill="url(#paint42_linear_5964_11237)" />
            //-         <path d="M384.463 337.24C381.636 337.24 379.103 336.76 376.863 335.8C374.623 334.787 372.836 333.347 371.503 331.48C370.223 329.56 369.583 327.24 369.583 324.52C369.583 321.8 370.223 319.533 371.503 317.72C372.836 315.853 374.65 314.467 376.943 313.56C379.29 312.6 381.956 312.12 384.943 312.12H395.823V309.88C395.823 308.013 395.236 306.493 394.063 305.32C392.89 304.093 391.023 303.48 388.463 303.48C385.956 303.48 384.09 304.067 382.863 305.24C381.636 306.36 380.836 307.827 380.463 309.64L371.183 306.52C371.823 304.493 372.836 302.653 374.223 301C375.663 299.293 377.556 297.933 379.903 296.92C382.303 295.853 385.21 295.32 388.623 295.32C393.85 295.32 397.983 296.627 401.023 299.24C404.063 301.853 405.583 305.64 405.583 310.6V325.4C405.583 327 406.33 327.8 407.823 327.8H411.023V336.12H404.303C402.33 336.12 400.703 335.64 399.423 334.68C398.143 333.72 397.503 332.44 397.503 330.84V330.76H395.983C395.77 331.4 395.29 332.253 394.543 333.32C393.796 334.333 392.623 335.24 391.023 336.04C389.423 336.84 387.236 337.24 384.463 337.24ZM386.223 329.08C389.05 329.08 391.343 328.307 393.103 326.76C394.916 325.16 395.823 323.053 395.823 320.44V319.64H385.663C383.796 319.64 382.33 320.04 381.263 320.84C380.196 321.64 379.663 322.76 379.663 324.2C379.663 325.64 380.223 326.813 381.343 327.72C382.463 328.627 384.09 329.08 386.223 329.08Z" fill="url(#paint43_linear_5964_11237)" />
            //-         <path d="M418.393 336.12V280.12H428.473V336.12H418.393Z" fill="url(#paint44_linear_5964_11237)" />
            //-         <path d="M703.276 337.24C700.129 337.24 697.169 336.467 694.396 334.92C691.676 333.32 689.489 331 687.836 327.96C686.183 324.92 685.356 321.24 685.356 316.92V315.64C685.356 311.32 686.183 307.64 687.836 304.6C689.489 301.56 691.676 299.267 694.396 297.72C697.116 296.12 700.076 295.32 703.276 295.32C705.676 295.32 707.676 295.613 709.276 296.2C710.929 296.733 712.263 297.427 713.276 298.28C714.289 299.133 715.063 300.04 715.596 301H717.036V280.12H727.116V336.12H717.196V331.32H715.756C714.849 332.813 713.436 334.173 711.516 335.4C709.649 336.627 706.903 337.24 703.276 337.24ZM706.316 328.44C709.409 328.44 711.996 327.453 714.076 325.48C716.156 323.453 717.196 320.52 717.196 316.68V315.88C717.196 312.04 716.156 309.133 714.076 307.16C712.049 305.133 709.463 304.12 706.316 304.12C703.223 304.12 700.636 305.133 698.556 307.16C696.476 309.133 695.436 312.04 695.436 315.88V316.68C695.436 320.52 696.476 323.453 698.556 325.48C700.636 327.453 703.223 328.44 706.316 328.44Z" fill="url(#paint45_linear_5964_11237)" />
            //-         <path d="M738.292 336.12V296.44H748.372V336.12H738.292ZM743.332 291.8C741.518 291.8 739.972 291.213 738.692 290.04C737.465 288.867 736.852 287.32 736.852 285.4C736.852 283.48 737.465 281.933 738.692 280.76C739.972 279.587 741.518 279 743.332 279C745.198 279 746.745 279.587 747.972 280.76C749.198 281.933 749.812 283.48 749.812 285.4C749.812 287.32 749.198 288.867 747.972 290.04C746.745 291.213 745.198 291.8 743.332 291.8Z" fill="url(#paint46_linear_5964_11237)" />
            //-         <path d="M776.022 337.24C770.848 337.24 766.608 336.12 763.302 333.88C759.995 331.64 757.995 328.44 757.302 324.28L766.582 321.88C766.955 323.747 767.568 325.213 768.422 326.28C769.328 327.347 770.422 328.12 771.702 328.6C773.035 329.027 774.475 329.24 776.022 329.24C778.368 329.24 780.102 328.84 781.222 328.04C782.342 327.187 782.902 326.147 782.902 324.92C782.902 323.693 782.368 322.76 781.302 322.12C780.235 321.427 778.528 320.867 776.182 320.44L773.942 320.04C771.168 319.507 768.635 318.787 766.342 317.88C764.048 316.92 762.208 315.613 760.822 313.96C759.435 312.307 758.742 310.173 758.742 307.56C758.742 303.613 760.182 300.6 763.062 298.52C765.942 296.387 769.728 295.32 774.422 295.32C778.848 295.32 782.528 296.307 785.462 298.28C788.395 300.253 790.315 302.84 791.222 306.04L781.862 308.92C781.435 306.893 780.555 305.453 779.222 304.6C777.942 303.747 776.342 303.32 774.422 303.32C772.502 303.32 771.035 303.667 770.022 304.36C769.008 305 768.502 305.907 768.502 307.08C768.502 308.36 769.035 309.32 770.102 309.96C771.168 310.547 772.608 311 774.422 311.32L776.662 311.72C779.648 312.253 782.342 312.973 784.742 313.88C787.195 314.733 789.115 315.987 790.502 317.64C791.942 319.24 792.662 321.427 792.662 324.2C792.662 328.36 791.142 331.587 788.102 333.88C785.115 336.12 781.088 337.24 776.022 337.24Z" fill="url(#paint47_linear_5964_11237)" />
            //-         <path d="M813.502 337.24C810.676 337.24 808.142 336.76 805.902 335.8C803.662 334.787 801.875 333.347 800.542 331.48C799.262 329.56 798.622 327.24 798.622 324.52C798.622 321.8 799.262 319.533 800.542 317.72C801.875 315.853 803.689 314.467 805.982 313.56C808.329 312.6 810.995 312.12 813.982 312.12H824.862V309.88C824.862 308.013 824.276 306.493 823.102 305.32C821.929 304.093 820.062 303.48 817.502 303.48C814.996 303.48 813.129 304.067 811.902 305.24C810.675 306.36 809.876 307.827 809.502 309.64L800.222 306.52C800.862 304.493 801.876 302.653 803.262 301C804.702 299.293 806.596 297.933 808.942 296.92C811.342 295.853 814.249 295.32 817.662 295.32C822.889 295.32 827.022 296.627 830.062 299.24C833.102 301.853 834.622 305.64 834.622 310.6V325.4C834.622 327 835.369 327.8 836.862 327.8H840.062V336.12H833.342C831.369 336.12 829.742 335.64 828.462 334.68C827.182 333.72 826.542 332.44 826.542 330.84V330.76H825.022C824.809 331.4 824.329 332.253 823.582 333.32C822.836 334.333 821.662 335.24 820.062 336.04C818.462 336.84 816.276 337.24 813.502 337.24ZM815.262 329.08C818.089 329.08 820.382 328.307 822.142 326.76C823.956 325.16 824.862 323.053 824.862 320.44V319.64H814.702C812.836 319.64 811.369 320.04 810.302 320.84C809.236 321.64 808.702 322.76 808.702 324.2C808.702 325.64 809.262 326.813 810.382 327.72C811.502 328.627 813.129 329.08 815.262 329.08Z" fill="url(#paint48_linear_5964_11237)" />
            //-         <path d="M871.272 337.24C867.699 337.24 864.952 336.627 863.032 335.4C861.112 334.173 859.699 332.813 858.792 331.32H857.352V336.12H847.432V280.12H857.512V301H858.952C859.539 300.04 860.312 299.133 861.272 298.28C862.286 297.427 863.592 296.733 865.192 296.2C866.846 295.613 868.872 295.32 871.272 295.32C874.472 295.32 877.432 296.12 880.152 297.72C882.872 299.267 885.059 301.56 886.712 304.6C888.366 307.64 889.192 311.32 889.192 315.64V316.92C889.192 321.24 888.366 324.92 886.712 327.96C885.059 331 882.872 333.32 880.152 334.92C877.432 336.467 874.472 337.24 871.272 337.24ZM868.232 328.44C871.326 328.44 873.912 327.453 875.992 325.48C878.072 323.453 879.112 320.52 879.112 316.68V315.88C879.112 312.04 878.072 309.133 875.992 307.16C873.966 305.133 871.379 304.12 868.232 304.12C865.139 304.12 862.552 305.133 860.472 307.16C858.392 309.133 857.352 312.04 857.352 315.88V316.68C857.352 320.52 858.392 323.453 860.472 325.48C862.552 327.453 865.139 328.44 868.232 328.44Z" fill="url(#paint49_linear_5964_11237)" />
            //-         <path d="M898.448 336.12V296.44H908.528V336.12H898.448ZM903.488 291.8C901.674 291.8 900.128 291.213 898.848 290.04C897.621 288.867 897.008 287.32 897.008 285.4C897.008 283.48 897.621 281.933 898.848 280.76C900.128 279.587 901.674 279 903.488 279C905.354 279 906.901 279.587 908.128 280.76C909.354 281.933 909.968 283.48 909.968 285.4C909.968 287.32 909.354 288.867 908.128 290.04C906.901 291.213 905.354 291.8 903.488 291.8Z" fill="url(#paint50_linear_5964_11237)" />
            //-         <path d="M919.698 336.12V280.12H929.778V336.12H919.698Z" fill="url(#paint51_linear_5964_11237)" />
            //-         <path d="M940.948 336.12V296.44H951.028V336.12H940.948ZM945.988 291.8C944.174 291.8 942.628 291.213 941.348 290.04C940.121 288.867 939.508 287.32 939.508 285.4C939.508 283.48 940.121 281.933 941.348 280.76C942.628 279.587 944.174 279 945.988 279C947.854 279 949.401 279.587 950.628 280.76C951.854 281.933 952.468 283.48 952.468 285.4C952.468 287.32 951.854 288.867 950.628 290.04C949.401 291.213 947.854 291.8 945.988 291.8Z" fill="url(#paint52_linear_5964_11237)" />
            //-         <path d="M977.398 336.12C974.784 336.12 972.651 335.32 970.998 333.72C969.398 332.067 968.598 329.88 968.598 327.16V304.76H958.678V296.44H968.598V284.12H978.678V296.44H989.558V304.76H978.678V325.4C978.678 327 979.424 327.8 980.918 327.8H988.598V336.12H977.398Z" fill="url(#paint53_linear_5964_11237)" />
            //-         <path d="M1003 352.12V343.32H1024.6C1026.1 343.32 1026.84 342.52 1026.84 340.92V330.92H1025.4C1024.98 331.827 1024.31 332.733 1023.4 333.64C1022.5 334.547 1021.27 335.293 1019.72 335.88C1018.18 336.467 1016.2 336.76 1013.8 336.76C1010.71 336.76 1007.99 336.067 1005.64 334.68C1003.35 333.24 1001.56 331.267 1000.28 328.76C999.002 326.253 998.362 323.373 998.362 320.12V296.44H1008.44V319.32C1008.44 322.307 1009.16 324.547 1010.6 326.04C1012.1 327.533 1014.2 328.28 1016.92 328.28C1020.02 328.28 1022.42 327.267 1024.12 325.24C1025.83 323.16 1026.68 320.28 1026.68 316.6V296.44H1036.76V343.16C1036.76 345.88 1035.96 348.04 1034.36 349.64C1032.76 351.293 1030.63 352.12 1027.96 352.12H1003Z" fill="url(#paint54_linear_5964_11237)" />
            //-         <path d="M1054.3 337.24C1052.17 337.24 1050.35 336.547 1048.86 335.16C1047.42 333.72 1046.7 331.88 1046.7 329.64C1046.7 327.4 1047.42 325.587 1048.86 324.2C1050.35 322.76 1052.17 322.04 1054.3 322.04C1056.49 322.04 1058.3 322.76 1059.74 324.2C1061.18 325.587 1061.9 327.4 1061.9 329.64C1061.9 331.88 1061.18 333.72 1059.74 335.16C1058.3 336.547 1056.49 337.24 1054.3 337.24Z" fill="url(#paint55_linear_5964_11237)" />
            //-         <path d="M733.551 58.24C729.605 58.24 726.111 57.4133 723.071 55.76C720.085 54.0533 717.738 51.68 716.031 48.64C714.378 45.5467 713.551 41.92 713.551 37.76V36.8C713.551 32.64 714.378 29.04 716.031 26C717.685 22.9067 720.005 20.5333 722.991 18.88C725.978 17.1733 729.445 16.32 733.391 16.32C737.285 16.32 740.671 17.2 743.551 18.96C746.431 20.6667 748.671 23.0667 750.271 26.16C751.871 29.2 752.671 32.7467 752.671 36.8V40.24H723.791C723.898 42.96 724.911 45.1733 726.831 46.88C728.751 48.5867 731.098 49.44 733.871 49.44C736.698 49.44 738.778 48.8267 740.111 47.6C741.445 46.3733 742.458 45.0133 743.151 43.52L751.391 47.84C750.645 49.2267 749.551 50.7467 748.111 52.4C746.725 54 744.858 55.3867 742.511 56.56C740.165 57.68 737.178 58.24 733.551 58.24ZM723.871 32.72H742.431C742.218 30.4267 741.285 28.5867 739.631 27.2C738.031 25.8133 735.925 25.12 733.311 25.12C730.591 25.12 728.431 25.8133 726.831 27.2C725.231 28.5867 724.245 30.4267 723.871 32.72Z" fill="url(#paint56_linear_5964_11237)" />
            //-         <path d="M761.643 57.12V17.44H771.563V22.64H773.003C773.643 21.2533 774.843 19.9467 776.603 18.72C778.363 17.44 781.03 16.8 784.603 16.8C787.696 16.8 790.39 17.52 792.683 18.96C795.03 20.3467 796.843 22.2933 798.123 24.8C799.403 27.2533 800.043 30.1333 800.043 33.44V57.12H789.963V34.24C789.963 31.2533 789.216 29.0133 787.723 27.52C786.283 26.0267 784.203 25.28 781.483 25.28C778.39 25.28 775.99 26.32 774.283 28.4C772.576 30.4267 771.723 33.28 771.723 36.96V57.12H761.643Z" fill="url(#paint57_linear_5964_11237)" />
            //-         <path d="M809.02 37.44V36.16C809.02 32 809.847 28.4533 811.5 25.52C813.153 22.5333 815.34 20.2667 818.06 18.72C820.833 17.12 823.847 16.32 827.1 16.32C830.727 16.32 833.473 16.96 835.34 18.24C837.207 19.52 838.567 20.8533 839.42 22.24H840.86V17.44H850.78V64.16C850.78 66.88 849.98 69.04 848.38 70.64C846.78 72.2933 844.647 73.12 841.98 73.12H815.42V64.32H838.46C839.953 64.32 840.7 63.52 840.7 61.92V51.6H839.26C838.727 52.4533 837.98 53.3333 837.02 54.24C836.06 55.0933 834.78 55.8133 833.18 56.4C831.58 56.9867 829.553 57.28 827.1 57.28C823.847 57.28 820.833 56.5067 818.06 54.96C815.34 53.36 813.153 51.0933 811.5 48.16C809.847 45.1733 809.02 41.6 809.02 37.44ZM829.98 48.48C833.073 48.48 835.66 47.4933 837.74 45.52C839.82 43.5467 840.86 40.7733 840.86 37.2V36.4C840.86 32.7733 839.82 30 837.74 28.08C835.713 26.1067 833.127 25.12 829.98 25.12C826.887 25.12 824.3 26.1067 822.22 28.08C820.14 30 819.1 32.7733 819.1 36.4V37.2C819.1 40.7733 820.14 43.5467 822.22 45.52C824.3 47.4933 826.887 48.48 829.98 48.48Z" fill="url(#paint58_linear_5964_11237)" />
            //-         <path d="M874.276 58.24C871.449 58.24 868.916 57.76 866.676 56.8C864.436 55.7867 862.649 54.3467 861.316 52.48C860.036 50.56 859.396 48.24 859.396 45.52C859.396 42.8 860.036 40.5333 861.316 38.72C862.649 36.8533 864.462 35.4667 866.756 34.56C869.102 33.6 871.769 33.12 874.756 33.12H885.636V30.88C885.636 29.0133 885.049 27.4933 883.876 26.32C882.702 25.0933 880.836 24.48 878.276 24.48C875.769 24.48 873.902 25.0667 872.676 26.24C871.449 27.36 870.649 28.8267 870.276 30.64L860.996 27.52C861.636 25.4933 862.649 23.6533 864.036 22C865.476 20.2933 867.369 18.9333 869.716 17.92C872.116 16.8533 875.022 16.32 878.436 16.32C883.662 16.32 887.796 17.6267 890.836 20.24C893.876 22.8533 895.396 26.64 895.396 31.6V46.4C895.396 48 896.142 48.8 897.636 48.8H900.836V57.12H894.116C892.142 57.12 890.516 56.64 889.236 55.68C887.956 54.72 887.316 53.44 887.316 51.84V51.76H885.796C885.582 52.4 885.102 53.2533 884.356 54.32C883.609 55.3333 882.436 56.24 880.836 57.04C879.236 57.84 877.049 58.24 874.276 58.24ZM876.036 50.08C878.862 50.08 881.156 49.3067 882.916 47.76C884.729 46.16 885.636 44.0533 885.636 41.44V40.64H875.476C873.609 40.64 872.142 41.04 871.076 41.84C870.009 42.64 869.476 43.76 869.476 45.2C869.476 46.64 870.036 47.8133 871.156 48.72C872.276 49.6267 873.902 50.08 876.036 50.08Z" fill="url(#paint59_linear_5964_11237)" />
            //-         <path d="M905.504 37.44V36.16C905.504 32 906.331 28.4533 907.984 25.52C909.638 22.5333 911.824 20.2667 914.544 18.72C917.318 17.12 920.331 16.32 923.584 16.32C927.211 16.32 929.958 16.96 931.824 18.24C933.691 19.52 935.051 20.8533 935.904 22.24H937.344V17.44H947.264V64.16C947.264 66.88 946.464 69.04 944.864 70.64C943.264 72.2933 941.131 73.12 938.464 73.12H911.904V64.32H934.944C936.438 64.32 937.184 63.52 937.184 61.92V51.6H935.744C935.211 52.4533 934.464 53.3333 933.504 54.24C932.544 55.0933 931.264 55.8133 929.664 56.4C928.064 56.9867 926.038 57.28 923.584 57.28C920.331 57.28 917.318 56.5067 914.544 54.96C911.824 53.36 909.638 51.0933 907.984 48.16C906.331 45.1733 905.504 41.6 905.504 37.44ZM926.464 48.48C929.558 48.48 932.144 47.4933 934.224 45.52C936.304 43.5467 937.344 40.7733 937.344 37.2V36.4C937.344 32.7733 936.304 30 934.224 28.08C932.198 26.1067 929.611 25.12 926.464 25.12C923.371 25.12 920.784 26.1067 918.704 28.08C916.624 30 915.584 32.7733 915.584 36.4V37.2C915.584 40.7733 916.624 43.5467 918.704 45.52C920.784 47.4933 923.371 48.48 926.464 48.48Z" fill="url(#paint60_linear_5964_11237)" />
            //-         <path d="M976.52 58.24C972.573 58.24 969.08 57.4133 966.04 55.76C963.053 54.0533 960.707 51.68 959 48.64C957.347 45.5467 956.52 41.92 956.52 37.76V36.8C956.52 32.64 957.347 29.04 959 26C960.653 22.9067 962.973 20.5333 965.96 18.88C968.947 17.1733 972.413 16.32 976.36 16.32C980.253 16.32 983.64 17.2 986.52 18.96C989.4 20.6667 991.64 23.0667 993.24 26.16C994.84 29.2 995.64 32.7467 995.64 36.8V40.24H966.76C966.867 42.96 967.88 45.1733 969.8 46.88C971.72 48.5867 974.067 49.44 976.84 49.44C979.667 49.44 981.747 48.8267 983.08 47.6C984.413 46.3733 985.427 45.0133 986.12 43.52L994.36 47.84C993.613 49.2267 992.52 50.7467 991.08 52.4C989.693 54 987.827 55.3867 985.48 56.56C983.133 57.68 980.147 58.24 976.52 58.24ZM966.84 32.72H985.4C985.187 30.4267 984.253 28.5867 982.6 27.2C981 25.8133 978.893 25.12 976.28 25.12C973.56 25.12 971.4 25.8133 969.8 27.2C968.2 28.5867 967.213 30.4267 966.84 32.72Z" fill="url(#paint61_linear_5964_11237)" />
            //-         <defs>
            //-             <linearGradient id="paint0_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint1_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint2_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint3_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint4_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint5_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint6_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint7_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint8_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint9_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint10_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint11_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint12_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint13_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint14_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint15_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint16_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint17_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint18_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint19_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint20_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint21_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint22_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint23_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint24_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint25_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint26_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint27_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint28_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint29_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint30_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint31_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint32_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint33_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint34_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint35_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint36_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint37_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint38_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint39_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint40_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint41_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint42_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint43_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint44_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint45_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint46_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint47_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint48_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint49_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint50_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint51_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint52_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint53_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint54_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint55_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint56_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint57_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint58_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint59_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint60_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-             <linearGradient id="paint61_linear_5964_11237" x1="949.441" y1="-14.88" x2="466.805" y2="240.967" gradientUnits="userSpaceOnUse">
            //-             <stop stop-color="#92C6F6" />
            //-             <stop offset="0.715" stop-color="#1429D4" />
            //-             </linearGradient>
            //-         </defs>
            //-     </svg>
            .hero__text.hero__text-secondary 
                img(src="./img/Group 462.svg", alt="")

            .hero__button 
                a.button-primary(href="#video-section") Start creating
                    <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.13667 12.0016C8.87632 11.747 8.87632 11.3342 9.13667 11.0795L13.9986 6.32425L9.13667 1.56899C8.87632 1.31435 8.87632 0.901499 9.13667 0.64686C9.39702 0.392222 9.81913 0.392222 10.0795 0.64686L15.8843 6.32425L10.0795 12.0016C9.81913 12.2563 9.39702 12.2563 9.13667 12.0016Z" fill="white"  />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.275391 6.32392C0.275391 5.9638 0.573869 5.67187 0.942061 5.67187L14.2755 5.67187C14.6437 5.67187 14.9421 5.9638 14.9421 6.32392C14.9421 6.68403 14.6437 6.97596 14.2755 6.97596L0.942061 6.97596C0.573869 6.97596 0.275391 6.68403 0.275391 6.32392Z" fill="white"  />
                    </svg>